.font-size-examples .em {
  font-size: 0.5em;
}

.font-size-examples .px {
  font-size: 16px;
}

.font-size-examples .pt {
  font-size: 16pt;
}

.font-size-examples .percent {
  font-size: 80%;
}

#custom-list-element {
  font-weight: bold;
  font-style: italic;
  color: green;
}

/* all children with ul tag */
.nested-list-examples ul {
  color: mediumseagreen;
}

.nested-list-examples ul.level-1 {
  font-size: 30px;
}

.nested-list-examples ul.level-2 {
  font-size: 24px;
}

.nested-list-examples ul.level-3 {
  font-size: 20px;
}

.nested-list-examples ul.level-1 ul.level-2 ul.level-3 {
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border: 0.5px solid grey;
}

footer span {
  background-color: greenyellow;
}

footer > span {
  background-color: yellow;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

details {
  line-height: 1;
}

footer {
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
}

table {
  width: 100%;
  max-width: 50%;
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: fixed;
}

thead {
  background-color: cadetblue;
}

tfoot {
  background-color: gainsboro;
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: 25%;
}

thead th:nth-child(3) {
  width: 50%;
}

td {
  background-color: bisque;
}

table table td {
  background-color: darkkhaki;
}

th,
td {
  padding: 8px;
}

.mobile-only {
  display: none;
}

.wide-only {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile-only {
    display: block;
  }
}

@media only screen and (min-width: 601px) {
  .wide-only {
    display: block;
  }
}

@media print {
  header,
  footer,
  nav {
    display: none !important;
  }
}

button.menu-btn {
  background-color: #753e8e;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.submenu-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 4px 4px 16px 0px #49215c;
  z-index: 1;
}

.submenu-content a {
  color: #49215c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.submenu-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-menu:hover button.menu-btn {
  background-color: #49215c;
}

.dropdown-menu:hover > .submenu-content {
  display: block;
}
